language: shell

services:
  - docker

before_install:
  - pwd
  - export DOCKER_TAG=$(git describe)

script:
  - docker build -t naturalis/nba-direct-query-api:$DOCKER_TAG ./

after_success:
  - docker login -u maartenschermer -p $DOCKER_PASS
  - docker tag naturalis/nba-direct-query-api:$DOCKER_TAG naturalis/nba-direct-query-api:$DOCKER_TAG
  - docker push naturalis/nba-direct-query-api:$DOCKER_TAG
  - docker logout
